$color-black: #000;
$color-black-opacity-very-light: rgba(0, 0, 0, 0.1);
$color-black-opacity-middle-light: rgba(0, 0, 0, 0.16);
$color-black-opacity-middle-lighter: rgba(0, 0, 0, 0.08);
$color-black-opacity-light: rgba(0, 0, 0, 0.2);
$color-black-opacity-light-above: rgba(0, 0, 0, 0.3);
$color-boulder-gray: #757575;
$color-light-gray: #d5d5d5;
$color-concrete: #f2f2f2;
$color-light-gray-a: #f8f9fa;
$color-alto-gray: #d8d8d8;
$color-alto-lightgray: #d6d6d6;
$color-gull-gray: #9aa8b6;
$color-lavanda-gray: #e9e9e9; // rgba(233, 236, 239, 0.3);
$color-pink-lavanda-gray: #f2f4f5; // rgba(233, 236, 239, 0.6);
$color-pink-lavanda-gray-dark: #f4f5f7;
$color-white: #fff;
$color-dark-white: rgba(255, 255, 255, 0.1);
$color-darker-white: rgba(255, 255, 255, 0.2);
$color-blue: #0967a4;
$color-logo-blue: #0081c9;
$color-wear-blue: #75acc8;
$color-lochmara: #0180c9;
$color-lochmara-light: rgba(1, 128, 201, 0.1);
$color-allports: #006ba8;
$color-glacier: #7eb1cb;
$color-cloud: #1e2e3f;
$color-light-cloud: #314254;
$color-athens-gray: #e9ecef;
$color-athens-gray-2: #f6f7f9;
$color-athens-gray-light: #f7f8fa;
$color-mercury: #e5e5e5;
$color-kashmir-blue: #5b6d81;
$color-curious-blue: #97bade;
$color-botticcelli: #d7e3ef;
$color-fruit-salad: #3ba936;
$color-gray-opacity-lighter: rgba(233, 236, 239, 0.4);
$color-gray-opacity: rgba(233, 236, 239, 0.5);
$color-cloud-opacity: rgba(30, 46, 63, 0.1);
$color-cloud-more-opacity: rgba(30, 46, 63, 0.15);
$color-cloud-dark-opacity: rgba(30, 46, 63, 0.9);
$color-another-gray: rgba(188, 199, 211, 0.5);
$color-very-light-gray: rgba(0, 0, 0, 0.1);
$color-very-light-grey-hex: #a4a5a7;
$color-border:rgba(255, 255, 255, 0.2);
$color-green: #3ba936;
$color-blue-oxford: #394553;
$color-porcelain: #ebeef0;
$color-shuttle-gray: #5b6d81;
$color-heather: #bcc7d3;
$color-orange: #f4b772;
$color-mandarine-orange: #fab001;
$color-red: #f57e6b;
$color-monza-red: #e40313;
$color-burgundy: #cb5c72;
$color-gallery: #eaeaea;
$color-yellow: #ece100;
$color-lime: #bfd730;
$color-mint-green: #81cd6c;
$color-dark-green: #4aa45a;
$color-edgewater: #bddccb;
$color-cta-border: #d4d9de;
$color-cta-border-hover: darken($color-cta-border, 10%);

$color-iron: #e1e4e7;
$color-bombay: #b4b6b8;
$color-forest-green: #298c24;
$color-light-mint-green: #81cd6c;
$color-social-text: #70a9c6;
$color-vista-green: #87cca4;
$color-cornflower-blue: #0081c9;

$mobile-width: 768px;
$tablet-width: 1024px;

$grid-gutter-width-mobile: 5px;
$container-total-padding-mobile: 22px;
$container-padding-mobile: $container-total-padding-mobile - $grid-gutter-width-mobile;
$container-padding-md: 1.25%;
$container-padding-xl: 44px;

$default-timing-fuction: cubic-bezier(0.47, 0.14, 0.15, 0.82);
$default-timing-fuction-opacity: cubic-bezier(0.645, 0.045, 0.355, 1);

$stickyPanel-mobile-height: 66px;
